# Environment
.env
.env.*
!.env.example


# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# SSL / TLS private files
*.key
*.pem
*.p12
*.pfx
*.crt
*.cer
*.csr

# SSL folders
ssl/
certs/
certificates/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / cache
dist/
build/
.cache/

# Test / coverage
.coverage
htmlcov/
.pytest_cache/

# Temporary
tmp/
temp/
*.tmp